<!DOCTYPE html>
<html>

<head>
    <title>Task List</title>
    <link rel="stylesheet" href="static/index.css">
</head>

<body>
    <h1>Task List</h1>
    <div class="task-columns">
        <div class="task-column" id="To Do">
            <h2>To Do</h2>
            <div class="task-cards" id="to-do-cards" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)"></div>
            <button class="create-task-button" id="create-task-button" onClik="createTask()"></div>
        </div>
        <div class="task-column" id="In Progress">
            <h2>In Progress</h2>
            <div class="task-cards" id="in-progress-cards" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)"></div>
        </div>
        <div class="task-column" id="Completed">
            <h2>Done</h2>
            <div class="task-cards" id="done-cards" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)"></div>
        </div>
    </div>

    <div class="trash-dropbox" id="trash-dropbox" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
        <p>Drop here to delete task</p>
    </div>

    <script src="static/index.js"></script>
</body>

</html>